.DS_Store

.idea/
.vscode/
.vs/
.eclipse.buildship.core.prefs
.project
*.iml
*.ipr
*.iws

.venv/
node_modules/
bin/
build/
obj/
pkg/
vendor/

.terraform/
*.tfstate
*.tfstate.backup
*.tfvars

.kubernetes-manifests-*/
.skaffold-*.yaml
release/wi-kubernetes-manifests.yaml


*.pyc
*.swp
*~
Dockerfile.pip